[Desktop Entry]
Version=1.0
Name=sykcoin Core
Comment=sykcoin P2P Cryptocurrency
Comment[fr]=sykcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=sykcoin, eşten eşe kriptografik sanal para birimi
Exec=sykcoin-qt %u
Terminal=false
Type=Application
Icon=sykcoin128
MimeType=x-scheme-handler/sykcoin;
Categories=Office;Finance;
StartupWMClass=sykcoin-qt
